*{
    margin: 0;
    padding: 0;
}

.heading{
    font-family: brush script mt;
    text-align: center;
    font-size: 72px;
    color: #008000;
    background-color: #FFFF00;
    border: 5px solid #008000;
    text-align: center;
}

.marquee{
    font-size: 24px;
    border: 5px solid #008000;
    background-color: lemonchiffon;
    color: #008000;
}

.marquee:hover{
    cursor: pointer;
}

.origami{
    width: 99.2%;
    height: 98vh;
    border: 5px solid #008000;
    display: flex;
    flex-direction: row;
    background-color: #90EE90;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.camel{
    width: 300px;
    height: 500px;
    padding: 20px;
    border: 5px solid #008000;
    color: darkgreen;
    text-decoration: bold;
    background-color: aliceblue;
    align-items: center;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.camel_img{
    border: 5px solid #008000;
    margin-left: -5px;
    align-items: center;
    width: 300px;
    height: 200px;
}

.camel_img:hover{
    cursor: pointer;
}

.heading1{
    font-size: 24px;
    text-align: center;
}

.list{
    list-style-type: circle;
}

.camels{
    font-size: 24px;
}

.origami1{
    width: 99.2%;
    height: 98vh;
    border: 5px solid #008000;
    display: flex;
    flex-direction: row;
    background-color: #90EE90;
    justify-content: space-around;
    flex-wrap: nowrap;
}
